body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.pt-7{
    padding-top: 7rem !important;
}

.border-top-light {
    border-top: 1px solid #676767;
}

.brand-logo {
    width: 60px;
    height: 60px;
    padding: 0;
}

/* About us*/
.media-decoration {
    position: relative;
}

.media-decoration-border {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.media-decoration-border {
    border: 1px solid #ffc107;
    transform: translate3d(50px, 50px, 0px);
}

.media-decoration-img{
    object-fit: cover;
    width: 100%;
    height: 450px;
    object-position: bottom;
}

.media-decoration-1>.media-decoration-border {
    top: 10%;
    left: 20%;
}

@media (min-width: 768px) {
    .media-decoration-1 {
        max-width: 80%;
    }

    .media-decoration-border {
        display: block;
    }
}

/* Photo gallery */
.photo-gallery .image-holder {
    flex: 1 1 auto;
    height: 300px;
    cursor: pointer;
    position: relative;
}

.image-holder img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}


/* Footer */
footer {
    color: #6c757d;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}